
#container {
    /*width: 70%;*/
    width: 500px;
    margin: 0 auto;
}

#header {
    background-color: red;
}

#main {
    background-color: blue;
    overflow: hidden;
}

#footer {
    background-color: green;
}

#left {
    background-color: pink;
    float: left;
    width: 100px;
}

#center {
    background-color: orange;
    float: left;
    width: 280px;
    margin-left: 10px;
    margin-right: 10px;
}

#right {
    background-color: purple;
    float: left;
    width: 100px;
}
