html {
    background-image: url('gray.png');
}

#container {
    width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

#header {
    margin-bottom: 15px;
}

#menu {
    margin-bottom: 15px;
}

#main {
    overflow: hidden;
    margin-bottom: 15px;
}

#contents {
    float: left;
    width: 400px;
}

#sidebar {
    float: right;
    width: 180px;
}

#footer {

}
